@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Open+Sans:wght@300;400;500;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* font-family: "Mochiy Pop P One", sans-serif;
  font-family: "Noto Sans", sans-serif;
  font-family: "Open Sans", sans-serif; */
  font-family: "Poppins", sans-serif;
  letter-spacing: 1.5px;
  list-style: none;
  line-height: 1.5;
}
body {
  background-color: rosybrown;
  height: 100%;
  width: 100%;
}
.App {
  width: 100%;
}

header {
  background-color: white;
  width: 100%;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul {
  display: flex;
  gap: 1rem;
  align-items: center;
}
a {
  text-decoration: none;
  color: black;
  font-weight: 700;
}

main {
  padding: 1em;
  max-width: 960px;
  margin: 0 auto;
}
.shopList {
  display: grid;
  padding: 1em;
  grid-row-gap: 1rem;
}
img {
  max-width: 10rem;
  object-fit: cover;
  aspect-ratio: 1/1;
  border-radius: 50%;
}
.card {
  background-color: black;
  padding: 1em;
  color: white;
  border-radius: 10px;
}

.shoe {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr 1fr;
  align-items: center;
  gap: 1em;
}
.cart-card .shoe {
  grid-template-columns: 2fr 2fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 0.3fr;
}
.actions {
  display: flex;
  gap: 0.5rem;
}
.actions button {
  background-color: white;
  border: none;
  outline: none;
  padding: 5px 10px;
  font-weight: bold;
  font-size: 1.1rem;
}
.total {
  font-size: 1.2rem;
  padding: 10px;
}
.remove {
  grid-column: 4/-1;
}
.shoe .add-btn {
  background-color: white;
  padding: 0.4em 0.8em;
  border-radius: 6px;
  border: none;
  outline: none;
  font-size: 1rem;

  font-weight: bold;
}
.shoe-details {
  text-align: left;
}
.shoe-details h2 {
  font-size: 2rem;
  margin: 0.3rem 0;
}
.shoe-price {
  font-size: 1.5rem;
}
.card:hover {
  background-color: rgba(0, 0, 0, 0.9);
  transition: 0.3s;
}
.total-qty {
  width: 2rem;
  height: 2rem;
  display: inline-grid;
  place-items: center;
  border-radius: 50%;
  background-color: black;
  color: white;
}
@media (max-width: 600px) {
  img {
    max-width: 8rem;
  }
  .shoe {
    grid-template-columns: 1fr 1fr;
    place-items: center;
    padding: 1rem;
    font-size: 1rem;
  }
  .cart-card .shoe {
    padding: 10px;
    gap: 0.5rem;
    grid-template-columns: 1fr 1fr;
  }

  .shoe-details h2 {
    font-size: 1.1rem;
  }
  .remove button {
    font-size: 1rem;
    padding: 5px 10px;
  }
}
